<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/header-scripts') %>
  </head>

  <body>
    <%- body %>
  </body>

  <footer><%- include('./partials/footer-scripts') %></footer>
</html>
