@import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';

.sidebar-nav {
  width: $offCanvasWidth;

  & .sidebar-link {
    display: flex;
    align-items: center;

    & .right-icon {
      display: inline-flex;
    }

    &[aria-expanded="true"] .right-icon {
      transform: rotate(180deg);
      transition: all ease 10s;
    }
  }
}
  // badges left margin
.margin-left {
  margin-left: 0.5rem;
}
// table
.table img {
  height: 35px;
  border-radius: 5px;
  margin-right: 5px;

  // avatars
  .avatar {
    height: 2.65rem;
    width: 2.65rem;
    border-radius: 50%;
  }
}

.noty_theme__mint{
  border-radius: 50px !important;
  padding-left: 8px !important;
}

// media query
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    margin-left: 19rem;
    margin-right: 2rem;
    padding-right: 1.5rem;

    & .container-fluid .border-left-primary {
      border-left: 0.25rem solid #4e73df !important;
    }
  }
  .offcanvase-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    transform: none;
    visibility: visible;
    top: $topNavBarHeight;
    height: calc(100% - 56px);
  }
}


// cards

.offers{
  padding-top: 2.75rem;
}
.offers .offer-box .offer-image::before{
  position: absolute;
  content: '';
  top: 0;
  left:-100%;
  z-index: 2;
  display: block;
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient((to right rgba(255,255,255,0)0% , rgba(255,255,255,0.3)100%));
  background: linear-gradient(to right rgba(255,255,255,0)0% , rgba(255,255,255,0.3)100%);
  transform: skewX(-25deg);
}
/*Not Running*/
.offers .offer-box .offer-image img{
  transform: scale(1.02);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.offers .offer-box:hover .offer-image::before{
  animation:effect_shine 1s;
}
@keyframes effect_shine{
  100%{
      left: 150%;
  }
}
.offers .offer-overlay::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 1;
}
.offers .offer-box .offer-info{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  transition: all 250ms ease-out;
  justify-content: center;
  align-items: center;
}
.offers .offer-box .offer-info .heading-bigger{
  font-size: 2.375rem;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 0;
  color: var(--text-white);
}
.offers .offer-box .offer-info .offer-title-1{
  color: var(--text-white);
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 0;
  letter-spacing: 2px;
}
.offers .offer-box .offer-info .btn-outline-danger{
  color: var(--text-white);
  border-color: var(--bg-white);
  transition: all 0.3s ease-in-out;
}
.offers .offer-box .offer-info .btn-outline-danger:hover{
  border-color: var(--bg-danger);
  background-color: var(--bg-danger);
}

// home banner
.home .home-banner-1,
.home .home-banner-2{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% center;
    min-height: 650px;
    position: relative;
}
.home .home-banner-1{
    background-image:url(/static-images/1.jpg) ;
}
.home .home-banner-2{
    background-image:url(/static-images/2.jpg) ;
}
.home .home-banner .home-banner-text{
    color:var(--text-black);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-110%, -50%);
}
.home .home-banner .home-banner-text h1{
    font-size: 6rem;
}
.home .carousel-indicators [data-bs-target]{
    background-color: var(--bg-danger);
    width: 2.5rem;
    height: 0.313rem;
}
.home .carousel-control-next-icon,
.home .carousel-control-prev-icon{
    background: transparent;
}
.home .slider-icon{
    font-size: 3rem;
    font-weight: 600;
    color:var(--text-danger);
}

// city
.navigation{
  padding-top: 2rem;
}
.featured-products{
  padding-top: 2rem;
}
.img-size{
  width: 200px;
  height: 200px;
}
.card-style{
  margin-left: 4rem;
  margin-top: 2rem;
}
.heading{/*Not working*/
  align-items: center;
}
.featured-product-style{
  margin-left: 1.2rem;
  margin-top: 2rem;
}